@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.containerHome {
  background-color: #e9e2e2;
  margin-bottom: 0.1rem;
}

.containerHome h1 {
  padding: 2.5rem 0;
  text-align: center;
}
.containerCards {
  font-family: "Roboto", serif;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0;
  padding: 1.5rem 6rem;
}

.card {
  width: 18.5rem;
  gap: 1.5rem;
  height: 20rem;
  border-radius: 0.275rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.211), 0 2px 14px rgba(0, 0, 0, 0.163);
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #fff;
  font-family: "Roboto", serif;
  display: flex;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  position: relative;
  width: 150%;
  max-height: 100vh;
}

.image {
  border-radius: 8px 8px 0 0;
  border-radius: 0.275rem;
}

.content {
  padding: 0.7rem;
}

.title {
  text-align: center;
  font-size: 1rem;
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.starsContainer {
  display: flex;
  align-items: center;
}

.starFilled {
  color: #ffd700; /* Cor das estrelas preenchidas */
}

.starEmpty {
  color: #e0e0e0; /* Cor das estrelas vazias */
}

.reviewsText {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: #888;
}

.priceRow {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.icon {
  margin-right: 0.5rem;
}

.btnCards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.btnCards button {
  cursor: pointer;
  padding: 0.9rem;
  border: none;
  border-radius: 0.375rem;
  background-color: darkblue;
  color: #fff;
}

.btnCards button:hover {
  background-color: blue;
}
