@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddbdb;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem;
}

.card {
  text-align: center;
  border-radius: 0.375rem;
  width: 30%;
  font-family: "Roboto", serif;
  background-color: #051e4d;
}

.cardContent {
  border-radius: 0.375rem;
  background-color: rgb(255, 255, 255);
  flex: 1;
  height: 55vh;
}

.cardImage {
  border-radius: 0.375rem;
  height: 30vh;
  width: 100%;
}

.cardImage img {
  height: 40vh;
}

.card p {
  color: #000;
  padding: 0.175rem;
  margin: 0.3rem 0.5rem;
  text-align: left;
}

.cardContent button {
  cursor: pointer;
  border: none;
  background-color: #051e4d;
  color: #fff;
  width: 5rem;
  border-radius: 0.375rem;
  margin: 1rem;
  padding: 0.5rem;
}

.cardContent input {
  margin-top: 1rem;
  width: 15vw;
  gap: 0.5rem;
  display: flex;
  padding: 0.5rem;
  justify-self: center;
}

.cardContent textarea {
  width: 15vw;
  height: 7vh;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-self: center;
}

.cardImageInput {
  margin-top: 1rem;
  width: 15vw;
  gap: 0.5rem;
  display: flex;
  padding: 0.5rem;
  justify-self: center;
}
