@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  font-family: "Roboto", serif;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 100%;
  max-width: 55rem;
  background-color: #051e4d;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalHeader {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.247);
  padding: 0.435rem;
}

.modalHeader h1 {
  font-size: 2rem;
  color: #fff;
}

.modal span {
  display: flex;
  justify-content: right;
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: bolder;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
}

.modal span:active {
  color: #fff;
}

.textModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
}
.textModal input,
.textModal textarea {
  margin-bottom: 0.938rem;
  padding: 0.65rem;
  border: 0.063rem solid #ddd;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 70%;
}

.textModal textarea {
  min-height: 5rem;
}
.textModal input::placeholder,
.textModal textarea::placeholder {
  color: #aaa;
}

.textModal p {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  color: #555;
}

.textModal p:last-child {
  color: #888;
}

.containerContent h1 {
  font-family: "Roboto", serif;
}

.button {
  border-radius: 0.375rem;
  background-color: #051e4d;
  border: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: nenhum;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #093079;
}

.enviar {
  background-color: #dddbdb;
  border: none;
  outline: none;
  cursor: pointer;
  color: #051e4d;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.enviar:hover {
  color: #fff;
  background-color: #075457;
}
