@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.containerInitial {
  font-family: "Roboto", serif;
  margin: 0;
  padding-bottom: 1rem;
}

.title {
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 4.5rem;
}

.SwiperImagem img {
  width: 100%;

  height: 25rem;
  object-fit: scale-down;
}

.containerSw {
  margin: 2rem;
}

.modalAbout {
  padding: 2.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 14px rgba(0, 0, 0, 0.06);
  transition: border-color 0.3s, box-shadow 0.3s;
  padding: 1rem 5.7rem;
  border-radius: 0.275rem;
  background-color: rgb(255, 255, 255);
}

.modalContent h3 {
  text-align: center;
}

.modalAbout ul {
  display: flex;
  text-align: center;
  list-style: none;
}

.modalAbout ul li {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.275rem;

  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 14px rgba(0, 0, 0, 0.06);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.modalContent p {
  text-align: center;
}

.modalContent button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: none;
  padding: 1rem;
  border-radius: 0.275rem;
  background-color: #246a73;
  color: rgb(255, 255, 255);
  width: 8rem;
}

.modalContent button:hover {
  background-color: #075457;
}
